<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="UserFile" value="C:\Софт-Проект Проекты\Upwork\11 LinkedIn Scrapper"/>
    <add key="MyTest.LinkedInConnect.ApiKey" value=""/>
    <add key="MyTest.LinkedInConnect.ApiSecretKey" value=""/>
    <add key="AuthorizationScope" value="ReadBasicProfile| ReadEmailAddress"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>